.returnButtonDiv {
  display: flex;
  justify-content: right;
}

.returnButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #bf838f;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.returnButton:hover {
  background-color: white;
  color: #bf838f !important;
}
.colMargin {
  margin-left: 3.5vw;
}

.rowProjectsWeb {
  min-height: 60vh;
  color: white;
  font-size: 18px;
}

.secondCol {
  padding-top: 6vh;
}

.projectLinkVerticalImg {
  height: 90%;
  margin-top: 5vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: center;
}

.projectLinkHorizontalImg {
  width: 100%;
  height: 60vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  display: flex;
  justify-content: center;
}
.projectImgHorizontal {
  width: 100%;
  border: 5px solid #bf838f;
}
.projectImgVertical {
  height: 100%;
  border: 5px solid #bf838f;
}
