.webLink {
  color: #cc9ca5 !important;
  text-decoration: none !important;
  font-size: 1vw;
}
.webLink :hover {
  text-decoration: none !important;
}
h4:hover {
  color: white !important;
}

.rowProjectMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.projectChoiceWebLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  font-size: 2vw;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 50px;
  background-image: none;
  color: #cc9ca5 !important;
}

.projectChoiceWebLink:hover {
  color: white !important;
  background-image: url('./Img/web.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.projectChoiceGamingLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  font-size: 2vw;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 50px;
  background-image: none;
  color: #cc9ca5 !important;
}

.projectChoiceGamingLink:hover {
  color: white !important;
  background-image: url('./Img/gaming.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
