* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Abel', sans-serif;
  text-align: center;
  color: white !important;
  margin-left: 4vw !important;
  font-size: 2vw !important;
}

h4,
h5 {
  color: #bf838f;
}
a {
  color: white !important;
  text-decoration: none !important;
}
a :hover {
  color: #cc9ca5 !important;
  text-decoration: none !important;
}

hr {
  margin-top: 10vh !important;
  margin-bottom: 5vh !important;
  width: 50%;
  border-width: 50%;
  color: #bf838f;
  background-color: #bf838f;
  height: 5px !important;
}

.row {
  margin: 0;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, 'Abel', sans-serif;
  position: fixed;
  overflow: hidden;
  background-color: #343a40;
}

#root {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #343a40;
}
